<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vinnie's Pizza and Pasta</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet"><!-- Bevan Google Font-->
  <!-- http://fonts.webtoolhub.com/font-n21026-vagabond-regular.aspx --><!--Vagabond font-->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> <!-- Style Sheet -->
</head>

<body>
 

<div class="row">
  <div class="col-md-12 center">
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand"><img class="brand-img" src="/assets/img/vinnies-logo-just-mascot.png""></a>
                  </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                          <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
                          <li><a href="/menu">Menu, Pizza, & Kids</a></li>
                          <li><a href="/apps">App, Salad, & Pasta</a></li>
                          <li><a href="/kitchen">Kitchen & Cluck U</a></li>
                          <li><a href="/sandwich">Subs & Wraps</a></li>
                          <li><a href="/desserts">Deserts & Catering</a></li>
                          <li><a href="/coupons">Coupons</a></li>
                              <!-- <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                              <li><a href="#">Action</a></li>
                              <li><a href="#">Another action</a></li>
                              <li><a href="#">Something else here</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Separated link</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">One more separated link</a></li>
                              </ul>
                              </li> -->
                      </ul>
                  </div>
          </div>
      </nav>  
  </div>
</div>


  <div id="body-container">
    {{{ body }}}
  </div>
  <!-- End of body-container -->
  <div >
  <!--Footer Begin-->
      <nav class="navbar navbar-inverse">
          <div class="row">
              <div class="col-xs-12">
                  <p class="text-center">
                  990 Route 202 South<br/>
                  Branchburg, NJ 08876<br/>
                  <a href="tel:+19082310034">p: 908-231-0034</a><br/>
                  f: 908-231-0753
                  </p>    
              </div>
          </div>
      </nav>  
  <!--Footer End-->
  </div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script> <!-- JQuery -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>
<!-- <script type="text/javascript" src="./public/assets/javascript/jquery.matchHeight.js"></script> -->
<script type="text/javascript" src="/assets/javascript/matchHeight.js"></script>

</html>