<!DOCTYPE html>
<html>
<head>
	
	<title>Appetizers, Salads, & Pasta</title>
</head>
<body>
<div class="container">
	<div class="row"> <!-- Appetizers Begin -->
		<div class="col-xs-12">
			<h1>Appetizers</h1>
		</div>

		<div class="col-xs-4">
			<p class="item dots">Onion Rings</p>
			<p class="item dots">Garlic Bread</p>
			<p class="item dots">w/ Cheese</p>
			<p class="item dots">French Fries</p>
			<p class="item dots">w/ Cheese</p>
			<p class="item dots">Mozzarella Sticks</p>
			<p class="item dots">Soup of the Day</p>
			<p class="item dots">Sauteed Broccoli or Spinach <em class="text-muted small">in garlic or olive oil</em></p>
			<p class="item dots">Mussels <em class="text-muted small">in hot our sweet or sauce</em></p>
			<p class="item dots">Fried Calamari</p>
			<p class="item dots">16oz Any Gourmet Sauce</p>
		</div>
		<div class="col-xs-2">
			<p class="item"><b>Sm</b> $4.50 <b>Lg</b> $6.50</p>
			<p class="item"><b>Half</b> $2.50 <b>Whole</b> $4.99</p>
			<p class="item"><b>Half</b> $3.00 <b>Whole</b> $5.99</p>
			<p class="item"><b>Sm</b> $3.99 <b>Lg</b> $5.75</p>
			<p class="item"><b>Sm</b> $4.99 <b>Lg</b> $6.95</p>
			<p class="item"><b>(6)</b> $6.99 <b>(12)</b> $9.99</p>
			<p class="item">$4.99</p>
			<p class="item">$7.99</p>
			<p class="item">$9.99</p>
			<p class="item">$9.99</p>
			<p class="item">$7.99</p>
		</div>
		<div class="col-xs-4">
			<p class="item dots">Vinnie's Buffalo Wings</p>
			<p class="item dots">Combo <em class="text-muted small">mozzarella sticks, buffalo wings, & onions rings</em></p>
			<p class="item dots">Stuffed Mushrooms</p>
			<p class="item dots">Breaded Chicken Fingers</p>
			<p class="item dots">Garlic Knots</p>
			<p class="item dots">Hot Dog Roll</p>
			<p class="item dots">Side Order: <em class="text-muted small">Sausage or Homemade Meatballs</em></p>
			<p class="item dots">Caprese <em class="text-muted small">homemade fresh mozzarella, sliced tomato, fresh made basil & olive oil</em></p>
			<p class="item">16 oz Tomato Sauce</p>
		</div>
		<div class="col-xs-2">
			<p class="item">$8.99</p>
			<p class="item">$9.99</p>
			<p class="item">$9.99</p>
			<p class="item"><b>Sm</b> $4.50 <b>Lg</b> $7.50</p>
			<p class="item">$0.75 Each</p>
			<p class="item">$3.25</p>
			<p class="item">$5.50</p>
			<p class="item"><b>Sm</b> $6.99 <b>Lg</b> $9.25</p>
			<p class="item">$5.95</p>
		</div>
	</div> <!-- Appetizers end -->

	<div class="area"></div><!-- area border div-->

	<div class="row"> <!-- Salads Begin -->
		<div class="col-xs-12">
			<span><h3>Salads</h3> <p class="item">Add chicken for $3.00 or Shrimp (5) for $4.00 to any salad</p></span>
		</div>
		<div class="col-xs-12 text-center">
			<p class="item">Creamy Italian &#8226; Bleu Cheese &#8226; French &#8226; Ranch &#8226; House (Balsamic Vinaigrette w/ Fresh Minced Vegetables) &#8226; Honey Mustard &#8226; Russian &#8226; Caesar &#8226; Balsamic &#8226; Oil & Vinegar &#8226; Lowfat Italian &#8226; Lowfar Raspberry Vinaigrette</p>
		</div>
		<div class="col-xs-10">
			<p class="item dots">Tossed Salad <em class="text-muted small">Iceberg lettuce, cucumbers, carrots, onion, tomato</em></p>
			
			<div class="row"> <!-- Salad Extras Start-->
				<div class="col-xs-3">
					<!-- <p class="item">Add to Salad</p>
					<p class="item">Add to Salad</p>
					<p class="item">Add to Salad</p>
					<p class="item">Add to Salad</p> -->
					<img src="assets/img/add-to-salad.png" class="add-to-salad">
				</div>
				<div class="col-xs-9">
					<p class="item dots">Sun Dried Tomatoes & Homemade fresh mozzarella</p>
					<p class="item dots">Homemade Fresh Mozzarela</p>
					<p class="item dots">Tuna</p>
					<p class="item dots">Grilled or Breaded Chicken & Homemade Fresh Mozzarella</p>
				</div>
			</div><!-- Salad Extras End-->

			<p class="item dots">Chef's Salad <em class="text-muted small"> provolone, roast beef, & turkey</em></p>
			<p class="item dots">Antipasto <em class="text-muted small"> ham, salami, capicola, provolone, & marinated vegetables</em></p>
			<p class="item dots">Garden Salad <em class="text-muted small"> mixed lettuce, tomatoes, cucumbers, olives, homemade fresh mozzarella, roasted peppers, & onions</em></p>
			<p class="item dots">Tri Color Salad <em class="text-muted small"> mixed lettuce, homemade fresh mozzarella, roasted peppers, & onions</em></p>
			<p class="item dots">Caesar Salad</p>
			<p class="item dots">Grilled Chicken Caesar</p>
			<p class="item dots">Maria's Salad <em class="text-muted small"> mixed greens, dried cranberries, feta cheese, tomatoes, cucumbers, fresh apples, & walnuts</em></p>
			<p class="item dots">Buffalo Chicken Salad <em class="text-muted small"> grilled or breaded</em></p>
		</div>
		<div class="col-xs-1">
			<p class="item">$4.99</p> <!-- Chef's Salad --> 
			<p class="item">$7.00</p> <!-- Antipasto -->
			<p class="item">$6.50</p> <!-- Garden Salad -->
			<p class="item">$7.00</p> <!-- Tri Color Salad -->
			<p class="item">$8.50</p> <!-- Caesar Salad -->
			<p class="item">$8.99</p>
			<p class="item">$8.99</p>
			<p class="item">$8.50</p>
			<p class="item">-----</p>
			<p class="item">$6.50</p>
			<p class="item">$8.99</p>
			<p class="item">$8.99</p>
			<p class="item">$8.99</p>
		</div>
		<div class="col-xs-1">
			<p class="item">$6.99</p>
			<p class="item">$8.50</p>
			<p class="item">$8.00</p>
			<p class="item">$9.00</p>
			<p class="item">$10.50</p>
			<p class="item">$10.75</p>
			<p class="item">$10.50</p>
			<p class="item">$9.99</p>
			<p class="item">$9.99</p>
			<p class="item">$8.50</p>
			<p class="item">$10.75</p>
			<p class="item">$10.75</p>
			<p class="item">$10.99</p>
			
		</div>
		<div class="col-xs-11">
			<p class="item dots">Shrimp Salad <em class="text-muted small"> mixed lettuce, 4 grilled shrimp, tomatoes, cucumbers, roasted peppers, olives, homemade fresh mozzarella, topped with onions</em></p>
		</div>
		
		<div class="col-xs-1">
			<p class="item">$11.50</p>
		</div>
	</div> <!-- Salads End -->

	<div class="area"></div><!-- area border div-->

	<!-- Pasta Begin -->
	<div class="row"> 
		<div class="col-xs-8">
			<h3>Pasta</h3>
		</div>
		<div class="col-xs-4">
			<p class="item">Now serving wheat pasta all dinners include salad and bread sticks</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10">
			<p class="item dots">Lunch Special (10:30 am - 3:00 pm)</p>
			<p class="item dots">Dinner Special</p>
		</div>
		<div class="col-xs-2">
			<p class="item">$8.99</p>
			<p class="item">$10.50</p>
		</div>
		<div class="col-xs-6">
			<p class="item">Butter &#8226; Tomato &#8226; Pesto &#8226; Marinara &#8226; Garlic & Oil &#8226; Francese &#8226; Mushroom &#8226; Fresh Tomatoes &#8226; Basil & Garlic</p>
		</div>
		<div class="col-xs-6">
			<p class="item">Spaghetti &#8226; Linguini &#8226; Ziti &#8226; Angel Hair &#8226; Penne &#8226; Fettuccini &#8226; Cavatelli &#8226; Rigatoni &#8226; Whole wheat penne add $1.25</p>
		</div>
	</div>
	<!-- Pasta End -->

	<div class="area"></div><!-- area border div-->

	<!-- Specialties Begin -->
	<di class="row">
		<div class="col-xs-12">
			<h3>Specialties</h3>
		</div>
		<div class="col-xs-10">
			<p class="item dots">Rigatoni Gianna <em class="text-muted small"> shrimp & spiced olives sauteed w/ garlic & olive oil in a light tomato sauce</em></p>
			<p class="item dots">Angel Hair Armando <em class="text-muted small"> angel hair in a pesto sauce w/ grilled chicken strips</em></p>
			<p class="item dots">Ziti Siciliano <em class="text-muted small"> tossed w/ sausage, potatoes, tomatoes, beans, & spinach in a white wine sauce</em></p>
			<p class="item dots">Ravioli Cremosa <em class="text-muted small"> cheese ravioli, simmered in a champagne-cream sauce w/ mushrooms, fresh diced tomatoes, fresh spinach & parmesan</em></p>
			<p class="item dots">Spaghetti Con Pollo <em class="text-muted small"> grilled chicken strips, sauteed w/ broccoli rabe, roasted tomatoes in a roasted garlic sauce</em></p>
			<p class="item dots">Chicken Balsamico <em class="text-muted small"> chicken breast sauteed w/ garlic, carmelized red onions, portabello mushrooms in a balsamic reduction sauce</em></p>
			<p class="item dots">Chicken <em class="text-muted small"> w/ fresh mozzarella in a pink or tomato sauce</em></p>
			<p class="item dots">Fettucini Maria <em class="text-muted small"> sauteed chicken w/ roasted garlic, mushrooms, onions, sundried tomatoes, & artichokes in a fresh basil-romano cheese sauce</em></p>
			<p class="item dots">&#127798; Polo Casola <em class="text-muted small"> sauteed chicken w/ roasted peppers & artichokes in pesto cream sauce w/shrimp $15.50</em></p>
			<p class="item dots">&#127798; Polo Alla Maria <em class="text-muted small"> sauteen chicken w/ maderia wine & fresh rosemary</em></p>
		</div>
		<div class="col-xs-1">
			<p class="item">$9.99</p> <!-- Rigatoni Gianna -->
			<p class="item">$9.99</p> <!-- Angel Hair Armando -->
			<p class="item">$9.99</p> <!-- Ziti Siciliano -->
			<p class="item">$9.99</p> <!-- Ravioli Cremosa -->
			<p class="item">$9.99</p> <!-- Spaghetti Con Pollo -->
			<p class="item">$9.99</p> <!-- Chicken Balsamico -->
			<p class="item">$9.99</p> <!-- Chicken -->
			<p class="item">$9.99</p> <!-- Fettucini Maria -->
			<p class="item">$9.25</p> <!-- Polo Casola -->
			<p class="item">$8.99</p> <!-- Polo Alla Maria -->
 		</div>
		<div class="col-xs-1">
			<p class="item">$13.99</p> <!-- Rigatoni Gianna -->
			<p class="item">$13.99</p> <!-- Angel Hair Armando -->
			<p class="item">$13.99</p> <!-- Ziti Siciliano -->
			<p class="item">$13.99</p> <!-- Ravioli Cremosa -->
			<p class="item">$13.99</p> <!-- Spaghetti Con Pollo -->
			<p class="item">$13.99</p> <!-- Chicken Balsamico -->
			<p class="item">$13.99</p> <!-- Chicken -->
			<p class="item">$13.99</p> <!-- Fettucini Maria -->
			<p class="item">$12.99</p> <!-- Polo Casola -->
			<p class="item">$12.99</p> <!-- Polo Alla Maria -->
		</div>
	</div>
	<!-- Specialties End -->
</div>	
</body>
</html>
