<!DOCTYPE html>
<html>
<head>
	
	<title>Appetizers, Salads, & Pasta</title>
</head>
<body>
<div class="container">
	<div class="row"> <!-- Appetizers Begin -->
		<div class="col-md-12">
			<h1>Appetizers</h1>
		</div>

		<div class="col-md-5">
			<p>Onion Rings</p>
			<p>Garlic Bread</p>
			<p>w/ Cheese</p>
			<p>French Fries</p>
			<p>w/ Cheese</p>
			<p>Mozzarella Sticks</p>
			<p>Soup of the Day</p>
			<p>Sauteed Broccoli or Spinach <em>in garlic or olive oil</em></p>
			<p>Mussels <em>in hot our sweet or sauce</em></p>
			<p>Fried Calamari</p>
			<p>16oz Any Gourmet Sauce</p>
		</div>
		<div class="col-md-1">
			<p><b>Sm</b> $4.50 <b>Lg</b> $6.50</p>
			<p><b>Half</b> $2.50 <b>Whole</b> $4.99</p>
			<p><b>Half</b> $3.00 <b>Whole</b> $5.99</p>
			<p><b>Sm</b> $3.99 <b>Lg</b> $5.75</p>
			<p><b>Sm</b> $4.99 <b>Lg</b> $6.95</p>
			<p><b>(6)</b> $6.99 <b>(12)</b> $9.99</p>
			<p>$4.99</p>
			<p>$7.99</p>
			<p>$9.99</p>
			<p>$9.99</p>
			<p>$7.99</p>
		</div>
		<div class="col-md-5">
			<p>Vinnie's Buffalo Wings</p>
			<p>Combo <em>mozzarella sticks, buffalo wings, & onions rings</em></p>
			<p>Stuffed Mushrooms</p>
			<p>Breaded Chicken Fingers</p>
			<p>Garlic Knots</p>
			<p>Hot Dog Roll</p>
			<p>Side Order: <em>Sausage or Homemade Meatballs</em></p>
			<p>Caprese <em>homemade fresh mozzarella, sliced tomato, fresh made basil & olive oil</em></p>
			<p>16 oz Tomato Sauce</p>
		</div>
		<div class="col-md-1">
			<p>$8.99</p>
			<p>$9.99</p>
			<p>$9.99</p>
			<p><b>Sm</b> $4.50 <b>Lg</b> $7.50</p>
			<p>$0.75 Each</p>
			<p>$3.25</p>
			<p>$5.50</p>
			<p><b>Sm</b> $6.99 <b>Lg</b> $9.25</p>
			<p>$5.95</p>
		</div>
	</div> <!-- Appetizers end -->

	<div class="row"> <!-- Salads Begin -->
		<div class="col-md-12">
			<span><h3>Salads</h3> <p>Add chickenfor $3.00 or Shrimp (5) for $4.00 to any salad</p></span>
		</div>
		<div class="col-md-12 text-center">
			<p>Creamy Italian &#8226; Bleu Cheese &#8226; French &#8226; Ranch &#8226; House (Balsamic Vinaigrette w/ Fresh Minced Vegetables) &#8226; Honey Mustard &#8226; Russian &#8226; Caesar &#8226; Balsamic &#8226; Oil & Vinegar &#8226; Lowfat Italian &#8226; Lowfar Raspberry Vinaigrette</p>
		</div>
		<div class="col-md-10">
			<p>Tossed Salad <em>Iceberg lettuce, cucumbers, carrots, onion, tomato</em></p>
			
			<div class="row"> <!-- Salad Extras Start-->
				<div class="col-md-3">
					<p>Add to Salad</p>
					<p>Add to Salad</p>
					<p>Add to Salad</p>
					<p>Add to Salad</p>
				</div>
				<div class="col-md-9">
					<p>Sun Dried Tomatoes & Homemade fresh mozzarella</p>
					<p>Homemade Fresh Mozzarela</p>
					<p>Tuna</p>
					<p>Grilled or Breaded Chicken & Homemade Fresh Mozzarella</p>
				</div>
			</div><!-- Salad Extras End-->

			<p>Chef's Salad <em>provolone, roast beef, & turkey</em></p>
			<p>Antipasto <em>ham, salami, capicola, provolone, & marinated vegetables</em></p>
			<p>Garden Salad <em>mixed lettuce, tomatoes, cucumbers, olives, homemade fresh mozzarella, roasted peppers, & onions</em></p>
			<p>Tri Color Salad <em>mixed lettuce, homemade fresh mozzarella, roasted peppers, & onions</em></p>
			<p>Caesar Salad</p>
			<p>Grilled Chicken Caesar</p>
			<p>Maria's Salad <em>mixed greens, dried cranberries, feta cheese, tomatoes, cucumbers, fresh apples, & walnuts</em></p>
			<p>Buffalo Chicken Salad <em>grilled or breaded</em></p>
			<p>Shrimp Salad <em>mixed lettuce, 4 grilled shrimp, tomatoes, cucumbers, roasted peppers, olives, homemade fresh mozzarella, topped with onions</em></p>
		</div>
		<div class="col-md-1">
			<p>$4.99</p>
			<p>$7.00</p>
			<p>$6.50</p>
			<p>$7.00</p>
			<p>$8.50</p>
			<p>$8.99</p>
			<p>$8.99</p>
			<p>$8.50</p>
			<p>-----</p>
			<p>$6.50</p>
			<p>$8.99</p>
			<p>$8.99</p>
			<p>$8.99</p>
			<p>------</p>
		</div>
		<div class="col-md-1">
			<p>$6.99</p>
			<p>$8.50</p>
			<p>$8.00</p>
			<p>$9.00</p>
			<p>$10.50</p>
			<p>$10.75</p>
			<p>$10.50</p>
			<p>$9.99</p>
			<p>$9.99</p>
			<p>$8.50</p>
			<p>$10.75</p>
			<p>$10.75</p>
			<p>$10.99</p>
			<p>$11.50</p>
		</div>
	</div> <!-- Salads End -->

	<!-- Pasta Begin -->
	<div class="row"> 
		<div class="col-md-8">
			<h3>Pasta</h3>
		</div>
		<div class="col-md-4">
			<p>Now serving wheat pasta all dinners include salad and bread sticks</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<p><b>Lunch Special</b> (10:30 am - 3:00 pm) - $8.99</p>
			<p><b>Dinner Special</b> - $10.50</p>
		</div>
		<div class="col-md-6">
			<p>Butter &#8226; Tomato &#8226; Pesto &#8226; Marinara &#8226; Garlic & Oil &#8226; Francese &#8226; Mushroom &#8226; Fresh Tomatoes &#8226; Basil & Garlic</p>
		</div>
		<div class="col-md-6">
			<p>Spaghetti &#8226; Linguini &#8226; Ziti &#8226; Angel Hair &#8226; Penne &#8226; Fettuccini &#8226; Cavatelli &#8226; Rigatoni &#8226; Whole wheat penne add $1.25</p>
		</div>
	</div>
	<!-- Pasta End -->

	<!-- Specialties Begin -->
	<di class="row">
		<div class="col-md-12">
			<h3>Specialties</h3>
		</div>
		<div class="col-md-10">
			<p>Rigatoni Gianna <em>shrimp & spiced olives sauteed w/ garlic & olive oil in a light tomato sauce</em></p>
			<p>Angel Hair Armando <em>angel hair in a pesto sauce w/ grilled chicken strips</em></p>
			<p>Ziti Siciliano <em>tossed w/ sausage, potatoes, tomatoes, beans, & spinach in a white wine sauce</em></p>
			<p>Ravioli Cremosa <em>cheese ravioli, simmered in a champagne-cream sauce w/ mushrooms, fresh diced tomatoes, fresh spinach & parmesan</em></p>
			<p>Spaghetti Con Pollo <em>grilled chicken strips, sauteed w/ broccoli rabe, roasted tomatoes in a roasted garlic sauce</em></p>
			<p>Chicken Balsamico <em>chicken breast sauteed w/ garlic, carmelized red onions, portabello mushrooms in a balsamic reduction sauce</em></p>
			<p>Chicken <em>w/ fresh mozzarella in a pink or tomato sauce</em></p>
			<p>Fettucini Maria <em>sauteed chicken w/ roasted garlic, mushrooms, onions, sundried tomatoes, & artichokes in a fresh basil-romano cheese sauce</em></p>
			<p>&#127798; Polo Casola <em>sauteed chicken w/ roasted peppers & artichokes in pesto cream sauce w/shrimp $15.50</em></p>
			<p>&#127798; Polo Alla Maria <em>sauteen chicken w/ maderia wine & fresh rosemary</em></p>
		</div>
		<div class="col-md-1">
			<p>$9.99</p> <!-- Rigatoni Gianna -->
			<p>$9.99</p> <!-- Angel Hair Armando -->
			<p>$9.99</p> <!-- Ziti Siciliano -->
			<p>$9.99</p> <!-- Ravioli Cremosa -->
			<p>$9.99</p> <!-- Spaghetti Con Pollo -->
			<p>$9.99</p> <!-- Chicken Balsamico -->
			<p>$9.99</p> <!-- Chicken -->
			<p>$9.99</p> <!-- Fettucini Maria -->
			<p>$9.25</p> <!-- Polo Casola -->
			<p>$8.99</p> <!-- Polo Alla Maria -->
 		</div>
		<div class="col-md-1">
			<p>$13.99</p> <!-- Rigatoni Gianna -->
			<p>$13.99</p> <!-- Angel Hair Armando -->
			<p>$13.99</p> <!-- Ziti Siciliano -->
			<p>$13.99</p> <!-- Ravioli Cremosa -->
			<p>$13.99</p> <!-- Spaghetti Con Pollo -->
			<p>$13.99</p> <!-- Chicken Balsamico -->
			<p>$13.99</p> <!-- Chicken -->
			<p>$13.99</p> <!-- Fettucini Maria -->
			<p>$12.99</p> <!-- Polo Casola -->
			<p>$12.99</p> <!-- Polo Alla Maria -->
		</div>
	</div>
	<!-- Specialties End -->
</div>	
</body>
</html>
