<!DOCTYPE html>
<html>
<head>
	
	<title>Appetizers, Salads, & Pasta</title>
</head>
<body>
<div class="container">
	<div class="row"> <!-- Appetizers Begin -->
		<div class="col-md-12">
			<h1>Appetizers</h1>
		</div>

		<div class="col-md-4">
			<p class="item">Onion Rings</p>
			<p class="item">Garlic Bread</p>
			<p class="item">w/ Cheese</p>
			<p class="item">French Fries</p>
			<p class="item">w/ Cheese</p>
			<p class="item">Mozzarella Sticks</p>
			<p class="item">Soup of the Day</p>
			<p class="item">Sauteed Broccoli or Spinach <em>in garlic or olive oil</em></p>
			<p class="item">Mussels <em>in hot our sweet or sauce</em></p>
			<p class="item">Fried Calamari</p>
			<p class="item">16oz Any Gourmet Sauce</p>
		</div>
		<div class="col-md-1">
			<p class="item"><b>Sm</b> $4.50 <b>Lg</b> $6.50</p>
			<p class="item"><b>Half</b> $2.50 <b>Whole</b> $4.99</p>
			<p class="item"><b>Half</b> $3.00 <b>Whole</b> $5.99</p>
			<p class="item"><b>Sm</b> $3.99 <b>Lg</b> $5.75</p>
			<p class="item"><b>Sm</b> $4.99 <b>Lg</b> $6.95</p>
			<p class="item"><b>(6)</b> $6.99 <b>(12)</b> $9.99</p>
			<p class="item">$4.99</p>
			<p class="item">$7.99</p>
			<p class="item">$9.99</p>
			<p class="item">$9.99</p>
			<p class="item">$7.99</p>
		</div>
		<div class="col-md-4">
			<p class="item">Vinnie's Buffalo Wings</p>
			<p class="item">Combo <em>mozzarella sticks, buffalo wings, & onions rings</em></p>
			<p class="item">Stuffed Mushrooms</p>
			<p class="item">Breaded Chicken Fingers</p>
			<p class="item">Garlic Knots</p>
			<p class="item">Hot Dog Roll</p>
			<p class="item">Side Order: <em>Sausage or Homemade Meatballs</em></p>
			<p class="item">Caprese <em>homemade fresh mozzarella, sliced tomato, fresh made basil & olive oil</em></p>
			<p class="item">16 oz Tomato Sauce</p>
		</div>
		<div class="col-md-1">
			<p class="item">$8.99</p>
			<p class="item">$9.99</p>
			<p class="item">$9.99</p>
			<p class="item"><b>Sm</b> $4.50 <b>Lg</b> $7.50</p>
			<p class="item">$0.75 Each</p>
			<p class="item">$3.25</p>
			<p class="item">$5.50</p>
			<p class="item"><b>Sm</b> $6.99 <b>Lg</b> $9.25</p>
			<p class="item">$5.95</p>
		</div>
	</div> <!-- Appetizers end -->

	<div class="row"> <!-- Salads Begin -->
		<div class="col-md-12">
			<span><h3>Salads</h3> <p class="item">Add chickenfor $3.00 or Shrimp (5) for $4.00 to any salad</p></span>
		</div>
		<div class="col-md-12 text-center">
			<p class="item">Creamy Italian &#8226; Bleu Cheese &#8226; French &#8226; Ranch &#8226; House (Balsamic Vinaigrette w/ Fresh Minced Vegetables) &#8226; Honey Mustard &#8226; Russian &#8226; Caesar &#8226; Balsamic &#8226; Oil & Vinegar &#8226; Lowfat Italian &#8226; Lowfar Raspberry Vinaigrette</p>
		</div>
		<div class="col-md-10">
			<p class="item">Tossed Salad <em>Iceberg lettuce, cucumbers, carrots, onion, tomato</em></p>
			
			<div class="row"> <!-- Salad Extras Start-->
				<div class="col-md-3">
					<p class="item">Add to Salad</p>
					<p class="item">Add to Salad</p>
					<p class="item">Add to Salad</p>
					<p class="item">Add to Salad</p>
				</div>
				<div class="col-md-9">
					<p class="item">Sun Dried Tomatoes & Homemade fresh mozzarella</p>
					<p class="item">Homemade Fresh Mozzarela</p>
					<p class="item">Tuna</p>
					<p class="item">Grilled or Breaded Chicken & Homemade Fresh Mozzarella</p>
				</div>
			</div><!-- Salad Extras End-->

			<p class="item">Chef's Salad <em>provolone, roast beef, & turkey</em></p>
			<p class="item">Antipasto <em>ham, salami, capicola, provolone, & marinated vegetables</em></p>
			<p class="item">Garden Salad <em>mixed lettuce, tomatoes, cucumbers, olives, homemade fresh mozzarella, roasted peppers, & onions</em></p>
			<p class="item">Tri Color Salad <em>mixed lettuce, homemade fresh mozzarella, roasted peppers, & onions</em></p>
			<p class="item">Caesar Salad</p>
			<p class="item">Grilled Chicken Caesar</p>
			<p class="item">Maria's Salad <em>mixed greens, dried cranberries, feta cheese, tomatoes, cucumbers, fresh apples, & walnuts</em></p>
			<p class="item">Buffalo Chicken Salad <em>grilled or breaded</em></p>
			<p class="item">Shrimp Salad <em>mixed lettuce, 4 grilled shrimp, tomatoes, cucumbers, roasted peppers, olives, homemade fresh mozzarella, topped with onions</em></p>
		</div>
		<div class="col-md-1">
			<p class="item">$4.99</p>
			<p class="item">$7.00</p>
			<p class="item">$6.50</p>
			<p class="item">$7.00</p>
			<p class="item">$8.50</p>
			<p class="item">$8.99</p>
			<p class="item">$8.99</p>
			<p class="item">$8.50</p>
			<p class="item">-----</p>
			<p class="item">$6.50</p>
			<p class="item">$8.99</p>
			<p class="item">$8.99</p>
			<p class="item">$8.99</p>
			<p class="item">------</p>
		</div>
		<div class="col-md-1">
			<p class="item">$6.99</p>
			<p class="item">$8.50</p>
			<p class="item">$8.00</p>
			<p class="item">$9.00</p>
			<p class="item">$10.50</p>
			<p class="item">$10.75</p>
			<p class="item">$10.50</p>
			<p class="item">$9.99</p>
			<p class="item">$9.99</p>
			<p class="item">$8.50</p>
			<p class="item">$10.75</p>
			<p class="item">$10.75</p>
			<p class="item">$10.99</p>
			<p class="item">$11.50</p>
		</div>
	</div> <!-- Salads End -->

	<!-- Pasta Begin -->
	<div class="row"> 
		<div class="col-md-8">
			<h3>Pasta</h3>
		</div>
		<div class="col-md-4">
			<p class="item">Now serving wheat pasta all dinners include salad and bread sticks</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<p class="item"><b>Lunch Special</b> (10:30 am - 3:00 pm) - $8.99</p>
			<p class="item"><b>Dinner Special</b> - $10.50</p>
		</div>
		<div class="col-md-6">
			<p class="item">Butter &#8226; Tomato &#8226; Pesto &#8226; Marinara &#8226; Garlic & Oil &#8226; Francese &#8226; Mushroom &#8226; Fresh Tomatoes &#8226; Basil & Garlic</p>
		</div>
		<div class="col-md-6">
			<p class="item">Spaghetti &#8226; Linguini &#8226; Ziti &#8226; Angel Hair &#8226; Penne &#8226; Fettuccini &#8226; Cavatelli &#8226; Rigatoni &#8226; Whole wheat penne add $1.25</p>
		</div>
	</div>
	<!-- Pasta End -->

	<!-- Specialties Begin -->
	<di class="row">
		<div class="col-md-12">
			<h3>Specialties</h3>
		</div>
		<div class="col-md-10">
			<p class="item">Rigatoni Gianna <em>shrimp & spiced olives sauteed w/ garlic & olive oil in a light tomato sauce</em></p>
			<p class="item">Angel Hair Armando <em>angel hair in a pesto sauce w/ grilled chicken strips</em></p>
			<p class="item">Ziti Siciliano <em>tossed w/ sausage, potatoes, tomatoes, beans, & spinach in a white wine sauce</em></p>
			<p class="item">Ravioli Cremosa <em>cheese ravioli, simmered in a champagne-cream sauce w/ mushrooms, fresh diced tomatoes, fresh spinach & parmesan</em></p>
			<p class="item">Spaghetti Con Pollo <em>grilled chicken strips, sauteed w/ broccoli rabe, roasted tomatoes in a roasted garlic sauce</em></p>
			<p class="item">Chicken Balsamico <em>chicken breast sauteed w/ garlic, carmelized red onions, portabello mushrooms in a balsamic reduction sauce</em></p>
			<p class="item">Chicken <em>w/ fresh mozzarella in a pink or tomato sauce</em></p>
			<p class="item">Fettucini Maria <em>sauteed chicken w/ roasted garlic, mushrooms, onions, sundried tomatoes, & artichokes in a fresh basil-romano cheese sauce</em></p>
			<p class="item">&#127798; Polo Casola <em>sauteed chicken w/ roasted peppers & artichokes in pesto cream sauce w/shrimp $15.50</em></p>
			<p class="item">&#127798; Polo Alla Maria <em>sauteen chicken w/ maderia wine & fresh rosemary</em></p>
		</div>
		<div class="col-md-1">
			<p class="item">$9.99</p> <!-- Rigatoni Gianna -->
			<p class="item">$9.99</p> <!-- Angel Hair Armando -->
			<p class="item">$9.99</p> <!-- Ziti Siciliano -->
			<p class="item">$9.99</p> <!-- Ravioli Cremosa -->
			<p class="item">$9.99</p> <!-- Spaghetti Con Pollo -->
			<p class="item">$9.99</p> <!-- Chicken Balsamico -->
			<p class="item">$9.99</p> <!-- Chicken -->
			<p class="item">$9.99</p> <!-- Fettucini Maria -->
			<p class="item">$9.25</p> <!-- Polo Casola -->
			<p class="item">$8.99</p> <!-- Polo Alla Maria -->
 		</div>
		<div class="col-md-1">
			<p class="item">$13.99</p> <!-- Rigatoni Gianna -->
			<p class="item">$13.99</p> <!-- Angel Hair Armando -->
			<p class="item">$13.99</p> <!-- Ziti Siciliano -->
			<p class="item">$13.99</p> <!-- Ravioli Cremosa -->
			<p class="item">$13.99</p> <!-- Spaghetti Con Pollo -->
			<p class="item">$13.99</p> <!-- Chicken Balsamico -->
			<p class="item">$13.99</p> <!-- Chicken -->
			<p class="item">$13.99</p> <!-- Fettucini Maria -->
			<p class="item">$12.99</p> <!-- Polo Casola -->
			<p class="item">$12.99</p> <!-- Polo Alla Maria -->
		</div>
	</div>
	<!-- Specialties End -->
</div>	
</body>
</html>
