<!DOCTYPE html>
<html>
<head>
	
	<title>Coupons</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="#"> <!-- Test Coupons -->
			</div>
			<div class="col-md-6">
				<img src="#"> <!-- Test Coupons -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="#"> <!-- Test Coupons -->
			</div>
			<div class="col-md-6">
				<img src="#"> <!-- Test Coupons -->
			</div>
		</div>
	</div>
</body>
	
</html>