<!DOCTYPE html>
<html>
<head>
	
	<title>Coupons</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<h3>2 Large Plain Pizzas for $21.99</h3>
				<p><em>tax & toppings additional</em></p>
				<img src="assets/img/2_large_pizza_21.99.png"> <!-- Test Coupons -->
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>Purchase 3 Large Pizzas!<br /> And get 1 free topping!</h3>
				<img src="assets/img/3_pizzas_1_topping.png"> <!-- Test Coupons -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<h3>$5.00 off any order<br />Over $35.00!</h3>
				<img src="assets/img/$5_off_any_order_over_$35.png"> <!-- Test Coupons -->
			</div>
			<div class="col-md-6 col-xs-12">
				<h3>$10.00 off any order over <br/>$65.00</h3>
				<img src="assets/img/$10_off_over_$65.png"> <!-- Test Coupons -->
			</div>
		</div>
	</div>
</body>
	
</html>