<!DOCTYPE html>
<html>
<head>

	<title>Dessert and Catering</title>
</head>
<body>
	<div class="container">
		<!-- Desserts begin-->
		<div class="row">
			<div class="col-md-10">
				<h3 class="item">Desserts</h3>
			</div>
			<div class="col-md-2">
				<p class="item">All our Desserts are homemade</p>
			</div>
			<div class="col-md-8">
				<p class="item">Zeppoli &#8226; Fried Oreos &#8226; Cinnamin Sticks  0.80-each</p>
			</div>
			<div class="col-md-4">
				<p class="item">Cannolli  $3.50 each</p>
			</div>
		</div>
		<!-- Desserts end-->

		<!-- Catering Menu Begin-->
		<div class="row">
			<div class="col-md-12">
				<h3 class="item">Catering Menu</h3>
			</div>
			<div class="col-md-offset-10 col-md-1">
				<h4 class="item">Half</h4>
			</div>
			<div class="col-md-1">
				<h4 class="item">Full</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<p class="item">Tossed Salad</p>
				<p class="item">Chef's Salad <em>roast beef, turkey, & provolone cheese</em></p>
				<p class="item">Garden Salad <em>mixed lettuce, tomatoes, cucumbers, olives, homemade fresh mozzarella, roasted peppers, & onions</em></p>
				<p class="item">Ceasar Salad <em>ask about adding grilled chicken</em></p>
				<p class="item">Anitpasto <em>ham, salami, capicola, provolone, & marinated vegetables</em></p>
				<p class="item">Any Pasta <em>w/ tomato sauce or garlic and oil</em></p>
				<p class="item">Baked Ziti <em>ricotta and mozzarella</em></p>
				<p class="item">Lasagna <em>meat (or vegetable), ricotta, and mozzarella</em></p>
				<p class="item">Stuffed Shells <em>(20 count half tray / 40 count full tray)</em></p>
				<p class="item">Homemade Manicotti Crepes <em>(20 count half tray / 40 count full)</em></p>
				<p class="item">Cheese Ravioli <em>(30 count half tray / 60 count full tray)</em></p>
				<p class="item">Tortellini Alfredo</p>
				<p class="item">Cavatelli and Broccoli</p>
				<p class="item">Penne a la Vodka <em>chopped onions & vodka</em></p>
				<p class="item">Penne <em>in pink sauce</em></p>
				<p class="item">Meatballs Parmigiana <em>(40 count half tray /  60 count full tray)</em></p>
				<p class="item">Sausage, Peppers, & Onions</p>
				<p class="item">Eggplant Rollatini or Parmigiana</p>
				<p class="item">Chicken any Style <em>(Cacciatore &#8226; Francese &#8226; Parmigiana &#8226; Piccata &#8226; Marsala &#8226; Florentine &#8226; Alfredo)</em></p>
				<p class="item">Veal any Style <em>Cacciatore &#8226; Francese &#8226; Parmigiana &#8226; Piccata &#8226; Marsala &#8226;</em></p>
				<p class="item">Ravioli Cremosa <em>Cheese Ravioli &#8226; Simmered in a Champaigne-Cream Sauce w/ Mushrooms, Fresh Diced Tomatoes, Fresh Spinach & Parmesan</em></p>
				<p class="item">Spaghetti Con Pollo <em>Grilled Chicken Strips, Sauteed w/ Broccoli Rabe, Roasted Tomatoes in a Garlic Sauce</em></p>
				<p class="item">Chicken Balsamico <em>chicken breast sauteed w/ garlic, carmelized red onions, portabello mushrooms in a balasamic reduction sauce</em></p>
				<p class="item">Chicken w/ Fresh Mozzarella <em>chicken breast baked plum, tomato basil layered w/ fresh sliced tomato, fresh basil & fresh mozzarella</em></p>
				<p class="item">Stuffed Cheese Rigatoni <em>tossed w/ vodka sauce & peas</em></p>
				<!-- Specialty Items -->
				<p class="item">Fired Calamari</p> 
				<p class="item">Mussels Marinara <em>(50 count half tray / 100 count cull tray)</em></p>
				<p class="item">Hot Antipasto <em>mussels, calamari, shrimp w/ a side of eggplant rollatini in a marinara sauce (hot or sweet)</em></p>
				<p class="item">Buffalo Wings <em>(40 count half tray / 80 count cull tray)</em></p>
				<p class="item">Gianna Special <em>(bowtie pasta, carrots, mushrooms, broccoli, roasted peppers, black olives in our homemade dressing)</em></p>
				<p class="item">Garlic Knots <em>(40 count half tray / 80 count cull tray)</em></p>
				<!-- Desserts (All our desserts are manmade)-->
				<p class="item">Zeppoli (40 count half tray / 80 count cull tray)</p>
				<p class="item">Fried Oreos &#8226; Cinnamon Sticks &#8226; Cannoli</p>
			</div>
			<div class="col-md-1">
				<p class="item">$24.95</p> <!-- Tossed Salad -->
				<p class="item">$38.95</p> <!-- Chef's Salad -->
				<p class="item">$33.95</p> <!-- Garden Salad  -->
				<p class="item">$27.95</p> <!-- Ceasar Salad  -->
				<p class="item">$38.95</p> <!-- Anitpasto -->
				<p class="item">$30.00</p> <!-- Any Pasta -->
				<p class="item">$35.95</p> <!-- Baked Ziti -->
				<p class="item">$45.00</p> <!-- Lasagna -->
				<p class="item">$40.00</p> <!-- Stuffed Shells -->
				<p class="item">$40.00</p> <!-- Homemade Manicotti Crepes -->
				<p class="item">$40.00</p> <!-- Cheese Ravioli -->
				<p class="item">$40.00</p> <!-- Tortellini Alfredo -->
				<p class="item">$40.00</p> <!-- Cavatelli and Broccoli -->
				<p class="item">$45.00</p> <!-- Penne a la Vodka -->
				<p class="item">$40.00</p> <!-- Penne -->
				<p class="item">$50.00</p> <!-- Meatballs Parmigiana -->
				<p class="item">$45.00</p> <!-- Sausage, Peppers, & Onions -->
				<p class="item">$45.00</p> <!-- Eggplant Rollatini or Parmigiana -->
				<p class="item">$50.00</p> <!-- Chicken any Style -->
				<p class="item">$56.95</p> <!-- Veal any Style -->
				<p class="item">$45.00</p> <!-- Ravioli Cremosa -->
				<p class="item">$45.00</p> <!-- Spaghetti Con Pollo -->
				<p class="item">$50.00</p> <!-- Chicken Balsamico -->
				<p class="item">$50.00</p> <!-- Chicken w/ Fresh Mozzarella -->
				<p class="item">$48.00</p> <!-- Stuffed Cheese Rigatoni -->
				<!-- Specialty Items -->
				<p class="item">$45.00</p> <!-- Fired Calamari --> 
				<p class="item">$45.00</p> <!-- Mussels Marinara -->
				<p class="item">$56.95</p> <!-- Hot Antipasto -->
				<p class="item">$35.00</p> <!-- Buffalo Wings -->
				<p class="item">$30.95</p> <!-- Gianna Special -->
				<p class="item">???</p> <!-- Garlic Knots -->
				<!-- Desserts (All our desserts are manmade)-->
				<p class="item">$25.00</p> <!-- Zeppoli -->
				<p class="item">Ask for Price</p> <!-- Fried Oreos -->
			</div>
			<div class="col-md-1">
				<p class="item">$36.95</p> <!-- Tossed Salad -->
				<p class="item">$59.95</p> <!-- Chef's Salad -->
				<p class="item">$50.00</p> <!-- Garden Salad  -->
				<p class="item">$45.00</p> <!-- Ceasar Salad  -->
				<p class="item">$59.95</p> <!-- Anitpasto -->
				<p class="item">$50.00</p> <!-- Any Pasta -->
				<p class="item">$55.95</p> <!-- Baked Ziti -->
				<p class="item">$75.00</p> <!-- Lasagna -->
				<p class="item">$65.00</p> <!-- Stuffed Shells -->
				<p class="item">$65.00</p> <!-- Homemade Manicotti Crepes -->
				<p class="item">$65.00</p> <!-- Cheese Ravioli -->
				<p class="item">$65.00</p> <!-- Tortellini Alfredo -->
				<p class="item">$60.00</p> <!-- Cavatelli and Broccoli -->
				<p class="item">$65.00</p> <!-- Penne a la Vodka -->
				<p class="item">$60.00</p> <!-- Penne -->
				<p class="item">$75.00</p> <!-- Meatballs Parmigiana -->
				<p class="item">$65.00</p> <!-- Sausage, Peppers, & Onions -->
				<p class="item">$65.00</p> <!-- Eggplant Rollatini or Parmigiana -->
				<p class="item">$83.00</p> <!-- Chicken any Style -->
				<p class="item">$99.00</p> <!-- Veal any Style -->
				<p class="item">$65.00</p> <!-- Ravioli Cremosa -->
				<p class="item">$65.00</p> <!-- Spaghetti Con Pollo -->
				<p class="item">$88.00</p> <!-- Chicken Balsamico -->
				<p class="item">$83.00</p> <!-- Chicken w/ Fresh Mozzarella -->
				<p class="item">$68.00</p> <!-- Stuffed Cheese Rigatoni -->
				<!-- Specialty Items -->
				<p class="item">$70.00</p> <!-- Fired Calamari --> 
				<p class="item">$70.00</p> <!-- Mussels Marinara -->
				<p class="item">$99.00</p> <!-- Hot Antipasto -->
				<p class="item">$65.00</p> <!-- Buffalo Wings -->
				<p class="item">$55.95</p> <!-- Gianna Special -->
				<p class="item">???</p> <!-- Garlic Knots -->
				<!-- Desserts (All our desserts are manmade)-->
				<p class="item">$40.00</p> <!-- Zeppoli -->
				<p class="item">Ask for Price</p> <!-- Fried Oreos -->
			</div>
		</div>
		<!-- Catering Menu End-->

		<div class="row">
			<div class="col-md-12 text-center">
				<p class="item">(1) 18" Party Platter - $45.00</p>
				<p class="item">(4) 12" Subs - 16 Pieces - Feeds (8) - Any Hot or Cold Sub</p>
				<p class="item">(2) 18" Party Platter - $55.00</p>
				<p class="item">(4) 12" Subs - 20 Pieces - Feeds (10) - Any Hot or Cold Sub</p>
				<p class="item">(3) Party Platter - $69.00</p>
				<p class="item">Choice of Any (6) Wraps and (6) Paninis - Feeds(12)</p>
				<p class="item">(4) 18" Party Platter - $59.95</p>
				<p class="item">Caprese & Bruschetta Combo <br />
				And Roasted Red Peppers to Caprese - $65.95</p>
			</div>
		</div>

	</div>	
</body>
</html>