
<body>
  
  <div class="parallax">
    <div class="row">
      <div class="col-xs-12 text-center center title-div">
        <h1 class="title curve">Vinnie's Pizza and Pasta</h1>
        
        <img id="vinnie-tomato" src="/assets/img/vinnies-logo-just-mascot.png">
        <h2 class="sub-title">We Treat Our Customers Like Family!</h2>
      </div>
    </div>  
  </div>
  
  <div class="container"> 
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center para-title"><a href="#" alt="vinnie's menu link">New Menu</a></h3>
        <h3 class="text-center para-title">
        Celebrating 13 years in business thanks to all of you!  
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 center-block">
        <img src="https://dummyimage.com/900x500/000/fff.png" class="center-block frnt-pg-grp-img">

        <p class="paragraph">
        Welcome from the Casola Family and <b>thank you for visiting our Website</b>! Vinnie's Pizza & Pasta is Family owned and operated and has just celebrated our 13th year in business, thanks to all of our loyal customers; our extended family!
        </p>
        
        <p class="paragraph indent">
        The Casola Tradition Started back in 1985 when we opened our first pizzeria. Our Family recipes have been handed down from generation to generation. Experience our homemade specialties while relaxing in our friendly family atmosphere. At Vinnie's Pizza & Pasta, we only use the finest ingredients because we treat our customers like family.
        </p>
        
        <p class="paragraph">
        Thank you for giving us the opportunity to serve you...
        </p>
        
        <p class="paragraph">
        The Casola Family - Vinnie, Gail and Gianna!
        </p>

      </div>
    </div>  

    <div class="row">
      <div class="col-md-6 col-xs-12 frnt-pg-grp-img">
        <img src="https://dummyimage.com/300.png/09f/fff" class="center-block">
        <figcaption class="text-center">Family Photo #1</figcaption>
      </div>
      <div class="col-md-6 col-xs-12 frnt-pg-grp-img">
        <img src="https://dummyimage.com/300.png/09f/fff" class="center-block">
        <figcaption class="text-center">Vinnie Photo  #1</figcaption>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12 frnt-pg-grp-img">
        <img src="https://dummyimage.com/300.png/09f/fff" class="center-block">
        <figcaption class="text-center">Omar Photo #1</figcaption>
      </div>
      <div class="col-md-6 col-xs-12 frnt-pg-grp-img">
        <img src="https://dummyimage.com/300.png/09f/fff" class="center-block">
        <figcaption class="text-center">Throw Back Photo #1</figcaption>
      </div>
    </div>   
        
       
  </div>
  
</body>


