
<head>

  <title>Kitchen & Cluck U</title>
</head>
<body>

  <div class="container">
    <div class="row"> <!-- Old World Favorites Begin -->
      <div class="col-md-6">
        <h3 class="item">Old World Favorites</h3>
      </div>
      <div class="col-md-2 col-md-offset-2">
        <h3 class="item">Lunch</h3>
      </div>
      <div class="col-md-2">
        <h3 class="item">Dinner</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="item">Homemade Lasagna</p>
          <p class="item">Baked Ziti &#x25CF; Stuffed Shells &#x25CF; Homemade Manicotti Crepes</p>
          <p class="item">Penne Vodka <em>chopped onions & prosuitto in a pink sauce</em></p>
          <p class="item">Tortellini Alfredo <em>parmigiano cream sauce</em></p>
          <p class="item">Tortellini in Meat Sauce</p>
          <p class="item">Tortellini in Pesto Sauce</p>
          <p class="item">Ravioli in Tomato Sauce</p>
          <p class="item">Penne in Pink Sauce <em>homemade tomato sauce & touch of cream</em></p>
          <p class="item">Rigatoni Bolognese <em>fresh ground beef, parmigiano, & cream sauce</em></p>
          <p class="item">Penne Primavera <em>carrots, mushrooms, broccoli, spinach in cream sauce</em></p>
          <p class="item">Gnocchi <em>homemade potato pasta in a vodka sauce</em></p>
          <p class="item">Homemade Meatballs or Sausage <em>w/ spaghetti</em></p>
          <p class="item">Cavatelli & Broccoli</p>
          <p class="item">Rigatoni Enzo <em>rigatoni tossed w/ artichokes, roasted peppers, thyme in a garlic sauce</em></p>
          <p class="item">Rigatoni Piselli <em>pancetta, peas, & plum tomatoes in a pink sauce</em></p>
          <p class="item">Penne Alla Chiappenella <em>eggplant, garlic, onions, chopped tomatoes, basil, in an olive oil reduction</em></p>
          <p class="item">Spaghetti Olympia <em>tossed in pesto sauce w/ tomatoes & mozzarella</em></p>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <p class="item">------</p> <!-- Homemade Lasagna -->
          <p class="item">$8.99</p> <!-- Baked Ziti -->
          <p class="item">$8.99</p> <!-- Penne Vodka -->
          <p class="item">$8.99</p> <!-- Tortellini Alfredo -->
          <p class="item">$8.99</p> <!-- Tortellini in Meat Sauce -->
          <p class="item">$8.99</p> <!-- Tortellini in Pesto Sauce -->
          <p class="item">$8.99</p> <!-- Ravioli in Tomato Sauce -->
          <p class="item">$8.99</p> <!-- Penne in Pink Sauce -->
          <p class="item">$8.99</p> <!-- Rigatoni Bolognese -->
          <p class="item">$8.99</p> <!-- Penne Primavera -->
          <p class="item">$8.99</p> <!-- Gnocchi -->
          <p class="item">$8.99</p> <!-- Homemade Meatballs or Sausage -->
          <p class="item">$8.99</p> <!-- Cavatelli & Broccoli -->
          <p class="item">$9.99</p> <!-- Rigatoni Enzo -->
          <p class="item">$7.99</p> <!-- Rigatoni Piselli -->
          <p class="item">$7.99</p> <!-- Penne Alla Chiappenella -->
          <p class="item">$9.99</p> <!-- Spaghetti Olympia -->
        </div>
        <div class="col-md-2">
          <p class="item">12.99</p> <!-- Homemade Lasagna -->
          <p class="item">$12.99</p> <!-- Baked Ziti -->
          <p class="item">$12.99</p> <!-- Penne Vodka -->
          <p class="item">$12.99</p> <!-- Tortellini Alfredo -->
          <p class="item">$12.99</p> <!-- Tortellini in Meat Sauce -->
          <p class="item">$12.99</p> <!-- Tortellini in Pesto Sauce -->
          <p class="item">$12.99</p> <!-- Ravioli in Tomato Sauce -->
          <p class="item">$12.99</p> <!-- Penne in Pink Sauce -->
          <p class="item">$12.99</p> <!-- Rigatoni Bolognese -->
          <p class="item">$12.99</p> <!-- Penne Primavera -->
          <p class="item">$12.99</p> <!-- Gnocchi -->
          <p class="item">$12.99</p> <!-- Homemade Meatballs or Sausage -->
          <p class="item">$12.99</p> <!-- Cavatelli & Broccoli -->
          <p class="item">$13.99</p> <!-- Rigatoni Enzo -->
          <p class="item">$11.99</p> <!-- Rigatoni Piselli -->
          <p class="item">$11.99</p> <!-- Penne Alla Chiappenella -->
          <p class="item">$13.99</p> <!-- Spaghetti Olympia -->
        </div>
      </div>
    </div> <!-- Old World Favorites End -->
    
    <div class="row"> <!-- Eggplant Begin -->
      <div class="col-md-6">
        <h3 class="item">Eggplant</h3>
      </div>
      <div class="col-md-2">
        <h3 class="item">Lunch</h3>
      </div>
      <div class="col-md-2">
        <h3 class="item">w/out Pasta</h3>
      </div>
      <div class="col-md-2">
        <h3>Dinner w/ Pasta</h3>
      </div>      
      <div class="col-md-6">
        <p class="item">Parmigiana &#x25CF; Rollatini</p>
        <p class="item">Rollatini <em>w/ spinach or prosciutto</em></p>
      </div>
      <div class="col-md-2">
        <p class="item">$7.99</p>
        <p class="item">$8.99</p>
      </div>
      <div class="col-md-2">
        <p class="item">$10.75</p>
        <p class="item">$11.50</p>
      </div>
      <div class="col-md-2">
        <p class="item">$12.75</p>
        <p class="item">$13.50</p>
      </div>      
    </div> <!-- Eggplant End -->

    <div class="row"> <!-- Chicken & Veal begin -->
      <div>
        <h3 class="col-md-12">Chicken & Veal</h3>
      </div>
      <div class="col-md-6">
        <p class="item">Milanese <em>bed of mesculine topped w/ our homemade balasmic & oil dressing w/ side of pasta in our homemade tomato or butter sauce</em></p>
        <p class="item">Cacciatore <em>marinara sauce, mushrooms, onion, garlic, & white wine</em></p>
        <p class="item">Francese <em>sauteed w/ lemon, white wine, & butter sauce</em></p>
        <p class="item">Parmigiana <em>fresh tomato sauce topped with mozzarella</em></p>
        <p class="item">Piccata <em>capers in a white wine & lemon sauce</em></p>
        <p class="item">Marsala <em>marsala wine & mushrooms in brown sauce</em></p>
        <p class="item">Florentine <em>topped w/ fresh spinach, mozzarella, & garlic in a white wine sauces</em></p>
        <p class="item">Alfredo <em>Parmigiano cream sauce</em></p>
      </div>
      <div class="col-md-4">
        <p class="item">Spaghetti &#x25CF; Linguini &#x25CF; Ziti &#x25CF; Angel Hair &#x25CF; Penne &#x25CF; Fettuccini &#x25CF; Cavatelli &#x25CF; Rigatoni &#x25CF; Whole Wheat Penne Add $1.25</p>
      </div>
      <div class="col-md-12 text-center">
        <h4><b>Lunch &#126;</b> Chicken $9.99 &#x25CF; Veal $10.50</h4>
        <h4><b>Dinner w/ Pasta &#126;</b> Chicken $13.99 &#x25CF; Veal $15.50</h4>
        <h4><b>Dinner w/out Pasta &#126;</b> Chicken $11.99 &#x25CF; Veal $12.99</h4>
      </div>
    </div> <!-- Chicken & Veal End -->

    <div class="row"> <!-- Seafood -->
      <div class="col-md-6">
        <h3>Seafood</h3>
      </div>
      <div class="col-md-2 col-md-offset-4">
        <h3>Dinner</h3>
      </div>
      <div class="col-md-6">
        <p class="item">Shrimp <em>broccoli, tomato, & garlic sauce</em></p>
        <p class="item">Shrimp <em>scampi &#x25CF; parmigiana &#x25CF; francese</em></p>
        <p class="item">Shrimp <em>in marinara sauce</em></p>
        <p class="item">Mussels <em>in hot or sweet sauce</em></p>
        <p class="item">Clams <em>in red or white sauce</em></p>
        <p class="item">Seafood Combo <em>shrimp, mussels, calamari in white or red sauce</em></p>
        <p class="item">Calamari <em>in hot or sweet sauce</em></p>
      </div>
      <div class="col-md-2 col-md-offset-4">
        <p class="item">$14.99</p> <!-- Shrimp  w/ broc--> 
        <p class="item">$14.99</p> <!-- Shrimp scampi--> 
        <p class="item">$14.99</p><!-- Shrimp  marinara-->
        <p class="item">$14.99</p><!-- Mussels -->
        <p class="item">$14.99</p><!-- Clams --> 
        <p class="item">$14.99</p><!-- Seafood Combo --> 
        <p class="item">$14.99</p><!-- Calamari --> 
      </div>
    </div> <!-- Seafood End-->
    
    <div class="row"> <!-- Burgers Start -->
      <div class="col-md-6">
        <h3>Burgers <em>8oz</em></h3>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <p class="item">includes french fries, lettuce, tomato, onions, and fresh pickles on the side</p>
      </div>
    </div>
    <div class="row"> 
      <div class="col-md-6 text-center">
        <p class="item">Hamgurger &#x25CF; Cheeseburger &#x25CF; Bacon Cheeseburger &#x25CF; Buffalo Burgers &#x25CF; Portabello & Swiss Burger &#x25CF; Garlic Pesto Burger &#x25CF; Italian Burger &#x25CF; Jersey Burger</p>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <h4>All $7.99</h4>
      </div>
    </div> <!-- Burgers End -->
    
    <div class="row"> <!-- Cluck-U Start-->
      <div class="col-md-12">
        <h3>Cluck-U Chicken</h3>
      </div>
      <div class="col-md-4">
        <img src="#"><!-- Cluck-U Thermo Image-->
      </div>
      <div class="col-md-4">
        <h4>Wings</h4><!-- Bucket and Prices -->
        <div class="row"> <!-- Wings Prices Row Begin -->
          <div class="col-md-6">
            <p class="item">(5) - $5.75</p>
            <p class="item">(20) - $16.25</p>
          </div>
          <div class="col-md-6">
            <p class="item">(10) - $8.75</p>
            <p class="item">(45) - $32.50</p>
          </div>
        </div> <!-- Wings Prices Row End -->
        <h4>Chicken Tenders</h4>
        <div class="row"> <!-- Chicken Tenders Prices Begin -->
          <div class="col-md-6">
            <p class="item">(3) - $4.75</p>
            <p class="item">(12) - $14.25</p>
            <p class="item">(36) - $41.00</p>
          </div>
          <div class="col-md-6">
            <p class="item">(6) - $7.50</p>
            <p class="item">(24) - $28.00</p>
          </div>
        </div> <!-- Chicken Tenders Prices End -->
        <h4>With Special Sauce and/or Honey Mustard</h4>
      </div>
      <div class="col-md-4">
        <img src="#"> <!-- Cluck-U Mascot -->
      </div>
    </div> <!-- Cluck-U End -->
  </div>

</body>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
