<head>
  
  <title>Menu, Pizza, & Kids</title>
</head>
<body>
  <div class="container"> <!-- Begin Container-->
    <div class="row"><!--Pizza-->
      <div class="col-xs-6">
        <h3 class="titles">Pizza</h3>
      </div>
      <div class="col-xs-2">
        <h3 class="titles">Small</h3>
      </div>
      <div class="col-xs-2 titles">
        <h3 class="titles">Medium</h3>
      </div>
      <div class="col-xs-2 titles">
        <h3 class="titles">Large</h3>
      </div>
      <div class="col-xs-6">
        <p class="item dots">Cheese</p>
        <p class="item dots">White</p>
        <p class="item dots">Special</p>
      </div>  
        
      <div class=col-xs-2>
        <p class="item">$8.99</p>
        <p class="item">$9.99</p>
        <p class="item">$13.50</p>
      </div>  
         
      <div class=col-xs-2>
        <p class="item">$11.99</p>
        <p class="item">$12.99</p>
        <p class="item">$15.99</p>
      </div>  
         
      <div class=col-xs-2>
        <p class="item">$12.99</p>
        <p class="item">$13.99</p>
        <p class="item">$17.99</p>
      </div>  

      <div class="col-xs-10">
        <p class="item dots">Whole Wheat</p>
        <p class="item dots">Silician</p>
        <p class="item dots">Silician Special</p>
        <p class="item dots">Chicago Style</p>
      </div>
      
      <div class="col-xs-2">
        <p class="item">$13.99</p>
        <p class="item">$15.99</p>
        <p class="item">$20.00</p>
        <p class="item">$14.99</p>
      </div>
      <div class="col-xs-6">
        <p class="item dots">Additional Toppings</p>
      </div>
      <div class="col-xs-2">
        <p class="item">$2.00</p>
      </div>
      <div class="col-xs-2">
        <p class="item">$2.00</p>
      </div>
      <div class="col-xs-2">
        <p class="item">$2.00</p>
      </div>
      <div class="col-xs-6">
        <p class="item dots">Listed Here</p>
      </div>
      <div class="col-xs-6">
        <p class="item">Extra Cheese &#8226; Pepperoni &#8226; Sausage &#8226; Homemade Meatball &#8226; Tomato &#8226; Mushroom &#8226; Onion &#8226; Pepper &#8226; Anchovies &#8226; Black Olvies &#8226; Fresh Garlic &#8226; Bacon &#8226; Eggplant &#8226; Broccoli &#8226; Spinach &#8226; Ricotta</p>  
      </div>
                
    </div>  <!-- Pizza -->   

    <div class="area"></div><!-- area border div--> 
    
    <div class="row"><!-- Gourmet Pizza -->
      <div class="col-xs-6">
        <h3 class="titles">Gourmet Pizza</h3>
      </div>
      <div class="col-xs-2">
        <h3 class="titles">Large</h3>
      </div>
      <div class="col-xs-2">
        <h3 class="titles">Medium</h3>
      </div>
      <div class="col-xs-2">
        <h3 class="titles">Small</h3>
      </div>
      <div class="col-xs-6">
        <p class="item dots">Grilled Chicken <em class="text-muted small">  Broccoli Rab, Roasted Peppers</em></p>
        <p class="item dots">Breaded Chicken and Tomato</p>
        <p class="item dots">Lasagna <em class="text-muted small"> Ground Beef, Ricotta, & Mozzarella</em></p>
        <p class="item dots">Philly Steak <em class="text-muted small"> Peppers, Onions, & American Cheese</em></p>
        <p class="item dots">Eggplant <em class="text-muted small">Ricotta w/ dabs of tomato sauce</em></p>
        <p class="item dots">Margherita <em class="text-muted small">Homemade fresh mozzarella, fresh basil, our homemade tomato sauce</em></p>
        <p class="item dots">Tomato, Basil, & Garlic <em class="text-muted small">(white)</em></p>
        <p class="item dots">Baked Ziti <em class="text-muted small">ricotta & mozzarella</em></p>
        <p class="item dots">Chicken <em class="text-muted small">marsala &#8226; francese &#8226; barbecue &#8226; buffalo &#8226; alfrado</em></p>
        <p class="item dots">Hawaiian <em class="text-muted small">Ham & Pineapple</em></p>
        <p class="item dots">Chicken Fantasy <em class="text-muted small">roasted peppers, sun dried tomato in a pink cognac sauce</em></p>
        <p class="item dots">Shrimp Scampi <em class="text-muted small">sauteed shrimp in a white wine garlic sauce</em></p>
        <p class="item dots">Stuffed <em class="text-muted small">meat or veggie</em></p>
        <p class="item dots">Terry Pie <em class="text-muted small">homemade fresh mozzarella, pizza mozzarella, & sauce</em></p>
        <p class="item dots">Italian Hot Dog <em class="text-muted small">potatoes, peppers, & onions</em></p>
        <p class="item dots">5 Cheese <em class="text-muted small">mozzarella, parmigiana, feta, ricotta, & cheddar</em></p>
        <p class="item dots">Chicken Bacon Ranch or Chicken BBQ</p>
        <p class="item dots">Grandma <em class="text-muted small">thick crust, mozzarella, & vinnie's secret sauce</em></p>
        <p class="item dots">Gluten Free</p>
      </div>
      <div class=col-xs-2>
        <p class="item">$13.50</p><!-- Grilled Chicken -->
        <p class="item">$13.50</p><!-- Breaded Chicken -->
        <p class="item">$13.50</p> <!-- Lasagna -->
        <p class="item">$13.50</p> <!-- Philly Steak -->
        <p class="item">$13.50</p> <!-- Eggplant -->
        <p class="item">$13.50</p> <!-- Margherita -->
        <p class="item">$13.50</p> <!-- Tomato, Basil, & Garlic -->
        <p class="item">$13.50</p> <!-- Baked Ziti -->
        <p class="item">$13.50</p> <!-- Chicken -->
        <p class="item">$13.50</p> <!-- Hawaiian -->
        <p class="item">$13.50</p> <!-- Chicken Fantasy -->
        <p class="item">$14.50</p> <!-- Shrimp Scampi  -->
        <p class="item">$13.50</p> <!-- Stuffed -->
        <p class="item">$13.50</p> <!-- Terry Pie -->
        <p class="item">$13.50</p> <!-- Italian Hot Dog -->
        <p class="item">$13.50</p> <!-- 5 Cheese -->
        <p class="item">$13.50</p> <!-- Chicken Bacon Ranch -->
        <p class="item">$13.50</p> <!-- Grandma -->
        <p class="item">$13.50</p> <!-- Gluten Free -->
      </div>
      <div class=col-xs-2>
        <p class="item">$15.99</p><!-- Grilled Chicken -->
        <p class="item">$15.99</p><!-- Breaded Chicken -->
        <p class="item">$15.99</p> <!-- Lasagna -->
        <p class="item">$15.99</p> <!-- Philly Steak -->
        <p class="item">$15.99</p> <!-- Eggplant -->
        <p class="item">$15.99</p> <!-- Margherita -->
        <p class="item">$15.99</p> <!-- Tomato, Basil, & Garlic -->
        <p class="item">$15.99</p> <!-- Baked Ziti -->
        <p class="item">$15.99</p> <!-- Chicken -->
        <p class="item">$15.99</p> <!-- Hawaiian -->
        <p class="item">$15.99</p> <!-- Chicken Fantasy -->
        <p class="item">$15.99</p> <!-- Shrimp Scampi  -->
        <p class="item">$17.50</p> <!-- Stuffed -->
        <p class="item">$15.99</p> <!-- Terry Pie -->
        <p class="item">$15.99</p> <!-- Italian Hot Dog -->
        <p class="item">$15.99</p> <!-- 5 Cheese -->
        <p class="item">$15.99</p> <!-- Chicken Bacon Ranch -->
        <p class="item">$15.99</p> <!-- Grandma -->
        <p class="item">$15.99</p> <!-- Gluten Free-->
      </div>
      <div class=col-xs-2>
        <p class="item">$17.99</p><!-- Grilled Chicken -->
        <p class="item">$17.99</p><!-- Breaded Chicken -->
        <p class="item">$17.99</p> <!-- Lasagna -->
        <p class="item">$17.99</p> <!-- Philly Steak -->
        <p class="item">$17.99</p> <!-- Eggplant -->
        <p class="item">$16.99</p> <!-- Margherita -->
        <p class="item">$16.99</p> <!-- Tomato, Basil, & Garlic -->
        <p class="item">$16.99</p> <!-- Baked Ziti -->
        <p class="item">$17.99</p> <!-- Chicken -->
        <p class="item">$17.99</p> <!-- Hawaiian -->
        <p class="item">$17.99</p> <!-- Chicken Fantasy -->
        <p class="item">$18.99</p> <!-- Shrimp Scampi  -->
        <p class="item">$18.50</p> <!-- Stuffed -->
        <p class="item">$17.99</p> <!-- Terry Pie -->
        <p class="item">$17.99</p> <!-- Italian Hot Dog -->
        <p class="item">$17.99</p> <!-- 5 Cheese -->
        <p class="item">$17.99</p> <!-- Chicken Bacon Ranch -->
        <p class="item">$17.99</p> <!-- Grandma -->
        <p class="item">$17.99</p> <!-- Gluten Free-->
      </div>
    </div><!-- End Groumet Pizza -->

    <div class="area"></div><!-- area border div-->

    <div class="row"><!-- Calzones -->
      <div class="col-xs-8">
        <h3 class="titles">Calzones</h3>
      </div>
      <div class="col-xs-2">
        <h3 class="titles">Small</h3>
      </div>
      <div class="col-xs-2">
        <h3 class="titles">Large</h3>
      </div>
      <div class="col-xs-8">
        <p class="item dots">Ricotta & Mozzarella</p>
        <p class="item dots">Special w/ 5 Toppings</p>
        <p class="item dots">Pizza <em class="text-muted small">mozzarella, ricotta, & pizza sauce</em></p>
        <p class="item dots">Extra Topping</p>
      </div>
      <div class="col-xs-2 ">
      <p class="item">$7.99</p> <!-- Ricotta & Mozzarella -->
      <p class="item">$8.99</p> <!-- Special w/ 5 Toppings -->
      <p class="item">$7.99</p> <!-- Pizza -->
      <p class="item">$0.75</p> <!-- Extra Topping -->
      </div>
      <div class="col-xs-2">
        <p class="item">$12.99</p> <!-- Ricotta & Mozzarella -->
        <p class="item">$15.99</p> <!-- Special w/ 5 Toppings -->
        <p class="item">$12.99</p> <!-- Pizza -->
        <p class="item">$2.00</p> <!-- Extra Topping -->
      </div>
    </div><!-- End Calzones -->

    <div class="area"></div><!-- area border div-->

    <div class="row"><!-- Strombolis begin-->
      <div class="col-xs-8">
        <h3 class="titles">Strombolis</h3>
      </div>
      <div class="col-xs-2">
        <h3 class="titles">Small</h3>
      </div>
      <div class="col-xs-2">
        <h3 class="titles">Large</h3>
      </div>
      <div class="col-xs-8">
        <p class="item dots">Sausage, Peppers, Onions, & Mozzarella</p>
        <p class="item dots">Chicken, Roasted Peppers, & Mozzarella</p>
        <p class="item dots">Chicken & Mozzarella</p>
        <p class="item dots">Pepperoni & Mozzarella</p>
        <p class="item dots">Spinach, Ricotta, & Mozzarella</p>
        <p class="item dots">Broccoli, Ricotta, & Mozzarella</p>
        <p class="item dots">Eggplant, Ricotta, & Mozzarella</p>
        <p class="item dots">Cheese Steak <em class="text-muted small">peppers, onions, & mozzarella</em></p>
        <p class="item dots">Vinnie's Special (5 Toppings)</p>
        <p class="item dots">Pizza <em class="text-muted small">mozzarella, ricotta, & pizza sauce</em></p>
        <p class="item dots">Extra Topping</p>
      </div>
      <div class="col-xs-2">
        <p class="item">$7.99</p> <!-- Sausage, Peppers, Onions, & Mozzarella -->
        <p class="item">$7.99</p> <!-- Chicken, Roasted Peppers, & Mozzarella -->
        <p class="item">$7.99</p> <!-- Chicken & Mozzarella -->
        <p class="item">$7.99</p> <!-- Pepperoni & Mozzarella -->
        <p class="item">$7.99</p> <!-- Spinach, Ricotta, & Mozzarella -->
        <p class="item">$7.99</p> <!-- Broccoli, Ricotta, & Mozzarella -->
        <p class="item">$7.99</p> <!-- Eggplant, Ricotta, & Mozzarella -->
        <p class="item">$8.99</p> <!-- Cheese Steak -->
        <p class="item">$8.99</p> <!-- Vinnie's Special -->
        <p class="item">$7.99</p> <!-- Pizza --> 
        <p class="item">$0.50</p> <!-- Extra Topping -->
      </div>
      <div class="col-xs-2">
        <p class="item">$13.50</p> <!-- Sausage, Peppers, Onions, & Mozzarella -->
        <p class="item">$13.50</p> <!-- Chicken, Roasted Peppers, & Mozzarella -->
        <p class="item">$12.50</p> <!-- Chicken & Mozzarella -->
        <p class="item">$12.50</p> <!-- Pepperoni & Mozzarella -->
        <p class="item">$13.50</p> <!-- Spinach, Ricotta, & Mozzarella -->
        <p class="item">$13.50</p> <!-- Broccoli, Ricotta, & Mozzarella -->
        <p class="item">$13.50</p> <!-- Eggplant, Ricotta, & Mozzarella -->
        <p class="item">$15.50</p> <!-- Cheese Steak -->
        <p class="item">$15.50</p> <!-- Vinnie's Special -->
        <p class="item">$12.50</p> <!-- Pizza --> 
        <p class="item">$1.00</p> <!-- Extra Topping -->
      </div>
    </div> <!--Strombolis end-->

    <div class="area"></div><!-- area border div-->

    <div class="row">
      <div class="col-xs-12 left">
        <h3 class="titles">Kids Menu</h3>
      </div>
      <div class="col-xs-10">
        <p class="item dots">Ziti <em class="text-muted small">w/ tomato sauce or butter</em></p>
        <p class="item dots">Breaded Chicken Fingers <em class="text-muted small">w/ fries</em></p>
        <p class="item dots">Grilled Cheese <em class="text-muted small">w/fries</em></p>
        <p class="item dots">Spaghetti <em class="text-muted small">w/ homemade meatballs</em></p>
        <p class="item dots">Baked Ziti</p>
        <p class="item dots">Baked Ravioli</p>
        <p class="item dots">Mac & Cheese</p>
      </div>
      <div class="col-xs-2">
        <p class="item">$7.99</p>  <!-- Ziti -->
        <p class="item">$7.99</p> <!-- Breaded Chicken --> 
        <p class="item">$7.99</p> <!-- Grilled Cheese --> 
        <p class="item">$7.99</p> <!-- Spaghetti --> 
        <p class="item">$7.99</p> <!-- Baked Ziti -->
        <p class="item">$7.99</p> <!-- Baked Ravioli -->
        <p class="item">$7.99</p> <!-- Mac & Cheese -->
      </div>
    </div>  
  </div> <!-- End Container -->
  
</body>
  