<table class="table"> <!-- Pizza Begin-->
  <thead>
    <tr>
      <th> </th>
      <th>Pizza</th>
      <th>Small</th>
      <th>Medium</th>
      <th>Large</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cheese</td>
      <td>$8.99</td>
      <td>$11.99</td>
      <td>$12.99</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>White</td>
      <td>$9.99</td>
      <td>$12.99</td>
      <td>$13.99</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Whole Wheat</td>
      <td></td>
      <td></td>
      <td>$13.99</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Silician</td>
      <td></td>
      <td></td>
      <td>$15.99</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Silician Special</td>
      <td></td>
      <td></td>
      <td>$20.00</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Chicago Style</td>
      <td></td>
      <td></td>
      <td>$14.99</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Additional Toppings</td>
      <td>$2.00</td>
      <td>$2.00</td>
      <td>$2.00</td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td>Additional Toppings</td>
      <td>$2.00</td>
      <td>$2.00</td>
      <td>$2.00</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Listed Here</td>
      <td>Extra Cheese • Pepperoni • Sausage • Homemade Meatball • Tomato • Mushroom • Onion • Pepper • Anchovies • Black Olvies • Fresh Garlic • Bacon • Eggplant • Broccoli • Spinach • Ricotta</td>
    </tr>
  </tbody> 
</table><!-- Pizza End -->

<table class="table"> <!-- Gourmet Pizza Begin-->
  <thead>
    <tr>
      <th> </th>
      <th>Gourmet Pizza</th>
      <th>Small</th>
      <th>Medium</th>
      <th>Large</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Grilled Chicken <em>Broccoli Rab, Roasted Peppers</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$17.99</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Breaded Chicken and Tomato</td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$17.99</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Lasagna <em>Ground Beef, Ricotta, & Mozzarella</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$17.99</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Philly Steak <em>Peppers, Onions, & American Cheese</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$17.99</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Eggplant <em>Ricotta w/ dabs of tomato sauce</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$17.99</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Margherita <em>Homemade fresh mozzarella, fresh basil, our homemade tomato sauce</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$16.99</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Tomato, Basil, & Garlic <em>(white)</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$16.99</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Baked Ziti <em>ricotta & mozzarella</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$16.99</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Chicken <em>marsala &#8226;francese &#8226;barbecue &#8226;buffalo &#8226;alfrado</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$17.99</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Hawaiian <em>Ham & Pineapple</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$14.99</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Chicken Fantasy <em>roasted peppers, sun dried tomato in pink sauce</em></td>
      <td>$13.50</td>
      <td>$15.99</td>
      <td>$14.99</td>
    <tr>
      <th scope="row">12</th>
      <td>Shrimp Scampi <em>sauteed shrimp in a white garlic sauce</em></td>
      <td>$14.50</td>
      <td>$15.99</td>
      <td>$18.99</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Stuffed <em>meat or veggie</em></td>
      <td>$13.50</td>
      <td>$17.50</td>
      <td>$18.50</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Terry Pie <em>meat or veggie</em></td>
      <td>$13.50</td>
      <td>$17.50</td>
      <td>$18.50</td>
    </tr>
  </tbody>
    </tr>
</table> <!-- Gourmet Pizza End-->