
<head>
  
  <title>Subs & Wraps</title>
</head>
<body>
  <div class="container">
        <!-- Hot & Cold Subs Begin -->
        <div class="row"> <!--title -->
            <div class="col-xs-6">
                <h3 class="item">Hot & Cold Subs</h3>
            </div>
            <div class="col-xs-6">
                <p class="item">Wheat Bread Available in 9" only</p>
            </div>
        </div> <!-- title -->

        <div class="row"> 
            <div class="col-xs-6"> <!-- Description with options subtitles-->
                <p class="item">
                All cold subs include: lettuce, tomatoes and onions. <br />
                With your choice of: oil & vinegar, mayo, and mustard. <br />
                Any additional items are available at an extra charge.
                </p>
            </div>
            <div class="col-xs-1"> <!-- 7th -->
                <h4 class="item">6" Half</h4>
            </div>
            <div class="col-xs-1"> <!-- 8th -->
                <h4 class="item">12" Whole</h4>
            </div>
            <div class="col-xs-1"> <!-- 9th -->
                <h4 class="item">Panini</h4>
            </div>
            <div class="col-xs-1"> <!-- 10th -->
                <h4 class="item">Wrap <em>Plain or White</em></h4>      
            </div>
            <div class="col-xs-1"> <!-- 11th -->
                <h4 class="item">Focaccia</h4>
            </div>
            <div  class="col-xs-1"> <!-- 12th -->
                <h4 class="item">Wheat</h4>
            </div>
        </div>
        <div class="row"> 
            <div class="col-xs-6"> <!-- Description with options subtitles-->
                <p class="item dots">1. Ham & Cheese</p>
                <p class="item dots">2. Ham, Salami, Cheese</p>
                <p class="item dots">3. Roast Beef</p>
                <p class="item dots">4. Ham, Salami, Capicola, & Cheese</p>
                <p class="item dots">5. Tuna</p>
                <p class="item dots">6. Tuna w/ Melted Cheese</p>
                <p class="item dots">7. Turkey & Cheese</p>
                <p class="item dots">8. Ham, Salami, Capicola, & Cheese</p>
                <p class="item dots">9. Sausage Parmigiana</p>
                <p class="item dots">10. Sausage, Peppers, & Onions</p>
                <p class="item dots">11. Homemade Meatball Parmigiana</p>
                <p class="item dots">12. Eggplant Parmigiana</p>
                <p class="item dots">13. Veal Parmigiana</p>
                <p class="item dots">14. Chicken Parmigiana</p>
                <p class="item dots">*15. Cheese Steak or Chicken Cheese Steak</p>
                <p class="item dots">*. Extra Toppings</p>
                <p class="item dots">16. Califorina Cheese Steak</p>
                <p class="item dots">17. Beef or Buffalo Chicken Cheese Steak</p>
                <p class="item dots">18. Italian Hotdog</p>
                <p class="item dots">19. Potatoes & Eggs</p>
                <p class="item dots">20. Veal & Peppers</p>
                <p class="item dots">21. Chicken Breast & Peppers</p>
                <p class="item dots">22. Proscuitto & Fresh Mozzarella</p>
                <p class="item dots">23. Chicken Francese</p>
                <p class="item dots">24. Chicken Francese <em class="text-muted">on Garlic Bread</em></p>
                <p class="item dots">25. Shrimp Parmigiana</p>
                <p class="item dots">26. Chicken Portobello <em class="text-muted">mixed greens, fresh mozzarella, roasted peppers, house dressing</em></p>
                <p class="item dots">27. Vinnie's Special <em class="text-muted">Breaded chicken, grilled eggplant, fresh mozzarella & roasted peppers w/ our homemade house dressing</em></p>
                <p class="item dots">28. Godfather <em class="text-muted">breaded chicken, fresh mozzarella, roasted peppers, mixed greens w/ our homemade house dressing</em></p>
                <p class="item dots">29. Antipasto Chicken <em class="text-muted">grilled chickedn, sundried tomato, fresh spinach roasted peppers, provolone & prosciutto w/ our homemade house dressing</em></p>
                <p class="item dots">30. Grilled Veggie <em class="text-muted">eggplant, spinach, roasted peppers, portabello mushrooms & fresh mozzarella w/ our homemade house dressing</em></p>
                <p class="item dots">31. Caprese <em class="text-muted">fresh mozzarella, tomato, roasted peppers, & basil w/ basamic</em></p>
                <p class="item dots">32. Turkey CLub <em class="text-muted">turkey, american cheese, bacon, lettuce, & mayo</em></p>
                <p class="item dots">33. Chicken Club <em class="text-muted">turkey, american cheese, tomato, bacon, lettuce, mayo</em></p>
                <p class="item dots">34. Greg's Sandwich <em class="text-muted">breaded chicken, mixed greens, fresh mozzarella w/ house dressing</em></p>
                <p class="item dots">35. Brian's Sandwich<em class="text-muted"> Potato, pepper, & egg</em></p>
                <p class="item dots">36. Jim's Sandwich <em class="text-muted">cooked roasted beef on garlic bread w/ fresh mozzarella, lettuce, tomato, hot peppers, & house dressing</em></p>
            </div>
            <div class="col-xs-1"> <!-- 7th -->
                <p class="item">$5.50</p> <!--1-->
                <p class="item">$5.50</p> <!--2-->
                <p class="item">$5.75</p> <!--3-->
                <p class="item">$5.75</p> <!--4-->
                <p class="item">$5.75</p> <!--5-->
                <p class="item">$5.75</p> <!-- 6. -->
                <p class="item">$5.75</p> <!-- 7. -->
                <p class="item">$6.25</p> <!-- 8. -->
                <p class="item">$5.75</p> <!-- 9. -->
                <p class="item">$6.25</p> <!-- 10. -->
                <p class="item">$5.75</p> <!-- 11. -->
                <p class="item">$5.75</p> <!-- 12. -->
                <p class="item">$6.25</p> <!-- 13. -->
                <p class="item">$5.75</p> <!-- 14. -->
                <p class="item">$5.25</p> <!-- *15. -->
                <p class="item">$0.15</p> <!-- *. -->
                <p class="item">$5.75</p> <!-- 16. -->
                <p class="item">$5.75</p> <!-- 17. -->
                <p class="item">$5.75</p> <!-- 18. -->
                <p class="item">$5.25</p> <!-- 19. -->
                <p class="item">$5.99</p> <!-- 20. -->
                <p class="item">$6.25</p> <!-- 21. -->
                <p class="item">$6.25</p> <!-- 22. -->
                <p class="item">$5.75</p> <!-- 23. -->
                <p class="item">$6.25</p> <!-- 24. -->
                <p class="item">$6.25</p> <!-- 25. -->
                <p class="item">$6.25</p> <!-- 26. -->
                <p class="item">$6.25</p> <!-- 27. -->
                <p class="item">$6.25</p> <!-- 28. -->
                <p class="item">$6.25</p> <!-- 29. -->
                <p class="item">$6.25</p> <!-- 30. -->
                <p class="item">$6.25</p> <!-- 31. -->
                <p class="item">$6.25</p> <!-- 32. -->
                <p class="item">$6.25</p> <!-- 33. -->
                <p class="item">$6.25</p> <!-- 34. -->
                <p class="item">$5.75</p> <!-- 35. -->
                <p class="item">$6.25</p> <!-- 36. -->
            </div>
            <div class="col-xs-1"> <!-- 8th -->
                <p class="item">$8.25</p> <!--1-->
                <p class="item">$8.25</p> <!--2-->
                <p class="item">$8.50</p> <!--3-->
                <p class="item">$8.50</p> <!--4-->
                <p class="item">$8.50</p> <!--5-->
                <p class="item">$8.50</p> <!-- 6. -->
                <p class="item">$8.50</p> <!-- 7. -->
                <p class="item">$8.50</p> <!-- 8. -->
                <p class="item">$8.25</p> <!-- 9. -->
                <p class="item">$8.50</p> <!-- 10. -->
                <p class="item">$8.25</p> <!-- 11. -->
                <p class="item">$8.25</p> <!-- 12. -->
                <p class="item">$9.25</p> <!-- 13. -->
                <p class="item">$8.50</p> <!-- 14. -->
                <p class="item">$8.25</p> <!-- *15. -->
                <p class="item">$0.30</p> <!-- *. -->
                <p class="item">$8.75</p> <!-- 16. -->
                <p class="item">$8.50</p> <!-- 17. -->
                <p class="item">$8.25</p> <!-- 18. -->
                <p class="item">$7.99</p> <!-- 19. -->
                <p class="item">$9.75</p> <!-- 20. -->
                <p class="item">$8.50</p> <!-- 21. -->
                <p class="item">$9.75</p> <!-- 22. -->
                <p class="item">$9.00</p> <!-- 23. -->
                <p class="item">$9.50</p> <!-- 24. -->
                <p class="item">$9.75</p> <!-- 25. -->
                <p class="item">$8.75</p> <!-- 26. -->
                <p class="item">$8.75</p> <!-- 27. -->
                <p class="item">$8.75</p> <!-- 28. -->
                <p class="item">$8.75</p> <!-- 29. -->
                <p class="item">$8.75</p> <!-- 30. -->
                <p class="item">$8.75</p> <!-- 31. -->
                <p class="item">$8.75</p> <!-- 32. -->
                <p class="item">$8.75</p> <!-- 33. -->
                <p class="item">$8.75</p> <!-- 34. -->
                <p class="item">$8.75</p> <!-- 35. -->
                <p class="item">$8.25</p> <!-- 36. -->
            </div>
            <div class="col-xs-1"> <!-- 9th -->
                <p class="item">$6.50</p> <!--1-->
                <p class="item">$6.50</p> <!--2-->
                <p class="item">$7.50</p> <!--3-->
                <p class="item">$7.50</p> <!--4-->
                <p class="item">$7.50</p> <!--5-->
                <p class="item">$7.50</p> <!-- 6. -->
                <p class="item">$7.50</p> <!-- 7. -->
                <p class="item">$7.50</p> <!-- 8. -->
                <p class="item">$7.50</p> <!-- 9. -->
                <p class="item">$7.50</p> <!-- 10. -->
                <p class="item">$7.50</p> <!-- 11. -->
                <p class="item">$7.50</p> <!-- 12. -->
                <p class="item">$7.50</p> <!-- 13. -->
                <p class="item">$7.50</p> <!-- 14. -->
                <p class="item">$7.50</p> <!-- *15. -->
                <p class="item">$0.30</p> <!-- *. -->
                <p class="item">$7.50</p> <!-- 16. -->
                <p class="item">$7.50</p> <!-- 17. -->
                <p class="item">$7.50</p> <!-- 18. -->
                <p class="item">$7.50</p> <!-- 19. -->
                <p class="item">$7.50</p> <!-- 20. -->
                <p class="item">$7.50</p> <!-- 21. -->
                <p class="item">$7.50</p> <!-- 22. -->
                <p class="item">$7.50</p> <!-- 23. -->
                <p class="item">$7.50</p> <!-- 24. -->
                <p class="item">$7.50</p> <!-- 25. -->
                <p class="item">$7.50</p> <!-- 26. -->
                <p class="item">$7.50</p> <!-- 27. -->
                <p class="item">$7.50</p> <!-- 28. -->
                <p class="item">$7.50</p> <!-- 29. -->
                <p class="item">$7.50</p> <!-- 30. -->
                <p class="item">$7.50</p> <!-- 31. -->
                <p class="item">$7.50</p> <!-- 32. -->
                <p class="item">$7.50</p> <!-- 33. -->
                <p class="item">$7.50</p> <!-- 34 -->
                <p class="item">$7.50</p> <!-- 35. -->
                <p class="item">$7.50</p> <!-- 36. -->
            </div>
            <div class="col-xs-1"> <!-- 10th -->
                <p class="item">$7.50</p> <!--1-->
                <p class="item">$7.50</p> <!--2-->
                <p class="item">$8.50</p> <!--3-->
                <p class="item">$8.50</p> <!--4-->
                <p class="item">$8.50</p> <!--5-->
                <p class="item">$8.50</p> <!-- 6. -->
                <p class="item">$8.50</p> <!-- 7. -->
                <p class="item">$8.50</p> <!-- 8. -->
                <p class="item">$8.50</p> <!-- 9. -->
                <p class="item">$8.50</p> <!-- 10. -->
                <p class="item">$8.50</p> <!-- 11. -->
                <p class="item">$8.50</p> <!-- 12. -->
                <p class="item">$8.50</p> <!-- 13. -->
                <p class="item">$8.50</p> <!-- 14. -->
                <p class="item">$8.50</p> <!-- *15. -->
                <p class="item">$0.30</p> <!-- *. -->
                <p class="item">$8.50</p> <!-- 16. -->
                <p class="item">$8.50</p> <!-- 17. -->
                <p class="item">$8.50</p> <!-- 18. -->
                <p class="item">$8.50</p> <!-- 19. -->
                <p class="item">$8.50</p> <!-- 20. -->
                <p class="item">$8.50</p> <!-- 21. -->
                <p class="item">$8.50</p> <!-- 22. -->
                <p class="item">$8.50</p> <!-- 23 -->
                <p class="item">$8.50</p> <!-- 24. -->
                <p class="item">$8.50</p> <!-- 25. -->
                <p class="item">$8.50</p> <!-- 26. -->
                <p class="item">$8.50</p> <!-- 27. -->
                <p class="item">$8.50</p> <!-- 28. -->
                <p class="item">$8.50</p> <!-- 29. -->
                <p class="item">$8.50</p> <!-- 30. -->
                <p class="item">$8.50</p> <!-- 31. -->
                <p class="item">$8.50</p> <!-- 32. -->
                <p class="item">$8.50</p> <!-- 33. -->
                <p class="item">$8.50</p> <!-- 34 -->
                <p class="item">$8.50</p> <!-- 35. -->
                <p class="item">$8.50</p> <!-- 36. -->      
            </div>
            <div class="col-xs-1"> <!-- 11th -->
                <p class="item">$6.50</p> <!--1-->
                <p class="item">$6.50</p> <!--2-->
                <p class="item">$7.50</p> <!--3-->
                <p class="item">$7.50</p> <!--4-->
                <p class="item">$7.50</p> <!--5-->
                <p class="item">$7.50</p> <!-- 6. -->
                <p class="item">$7.50</p> <!-- 7. -->
                <p class="item">$7.50</p> <!-- 8. -->
                <p class="item">$7.50</p> <!-- 9. -->
                <p class="item">$7.50</p> <!-- 10. -->
                <p class="item">$7.50</p> <!-- 11. -->
                <p class="item">$7.50</p> <!-- 12. -->
                <p class="item">$7.50</p> <!-- 13. -->
                <p class="item">$7.50</p> <!-- 14. -->
                <p class="item">$7.50</p> <!-- *15. -->
                <p class="item">$0.30</p> <!-- *. -->
                <p class="item">$7.50</p> <!-- 16. -->
                <p class="item">$7.50</p> <!-- 17. -->
                <p class="item">$7.50</p> <!-- 18. -->
                <p class="item">$7.50</p> <!-- 19. -->
                <p class="item">$7.50</p> <!-- 20. -->
                <p class="item">$7.50</p> <!-- 21. -->
                <p class="item">$7.50</p> <!-- 22. -->
                <p class="item">$7.50</p> <!-- 23 -->
                <p class="item">$7.50</p> <!-- 24. -->
                <p class="item">$7.50</p> <!-- 25. -->
                <p class="item">$7.50</p> <!-- 26. -->
                <p class="item">$7.50</p> <!-- 27. -->
                <p class="item">$7.50</p> <!-- 28. -->
                <p class="item">$7.50</p> <!-- 29. -->
                <p class="item">$7.50</p> <!-- 30. -->
                <p class="item">$7.50</p> <!-- 31. -->
                <p class="item">$7.50</p> <!-- 32. -->
                <p class="item">$7.50</p> <!-- 33. -->
                <p class="item">$7.50</p> <!-- 34 -->
                <p class="item">$7.50</p> <!-- 35. -->
                <p class="item">$7.50</p> <!-- 36. -->  
            </div>
            <div  class="col-xs-1"> <!-- 12th -->
                <p class="item">$7.50</p> <!--1-->
                <p class="item">$7.50</p> <!--2-->
                <p class="item">$8.50</p> <!--3-->
                <p class="item">$8.50</p> <!--4-->
                <p class="item">$8.50</p> <!--5-->
                <p class="item">$8.50</p> <!-- 6. -->
                <p class="item">$8.50</p> <!-- 7. -->
                <p class="item">$8.50</p> <!-- 8. -->
                <p class="item">$8.50</p> <!-- 9. -->
                <p class="item">$8.50</p> <!-- 10. -->
                <p class="item">$8.50</p> <!-- 11. -->
                <p class="item">$8.50</p> <!-- 12. -->
                <p class="item">$8.50</p> <!-- 13. -->
                <p class="item">$8.50</p> <!-- 14. -->
                <p class="item">$8.50</p> <!-- *15. -->
                <p class="item">$0.30</p> <!-- *. -->
                <p class="item">$8.50</p> <!-- 16. -->
                <p class="item">$8.50</p> <!-- 17. -->
                <p class="item">$8.50</p> <!-- 18. -->
                <p class="item">$8.50</p> <!-- 19. -->
                <p class="item">$8.50</p> <!-- 20. -->
                <p class="item">$8.50</p> <!-- 21. -->
                <p class="item">$8.50</p> <!-- 22. -->
                <p class="item">$8.50</p> <!-- 23 -->
                <p class="item">$8.50</p> <!-- 24. -->
                <p class="item">$8.50</p> <!-- 25. -->
                <p class="item">$8.50</p> <!-- 26. -->
                <p class="item">$8.50</p> <!-- 27. -->
                <p class="item">$8.50</p> <!-- 28. -->
                <p class="item">$8.50</p> <!-- 29. -->
                <p class="item">$8.50</p> <!-- 30. -->
                <p class="item">$8.50</p> <!-- 31. -->
                <p class="item">$8.50</p> <!-- 32. -->
                <p class="item">$8.50</p> <!-- 33. -->
                <p class="item">$8.50</p> <!-- 34 -->
                <p class="item">$8.50</p> <!-- 35. -->
                <p class="item">$8.50</p> <!-- 36. -->  
            </div>
        </div>
         <!-- Hot & Cold Subs End -->

         <!-- Giant Gourment Subs -->
         <div class="row">
            <div class="col-xs-10">
                <h3>Giant Gourmet Subs</h3>
            </div>
            <div class="col-xs-2">
                <p class="item">2-8 Feet Long</p>
            </div>
            <div class="col-xs-10">
                <p class="item dots">Italian</p>
                <p class="item dots">Turkey or Roast Beef</p>
                <p class="item dots">Grilled or Breaded Chicken</p>
                <p class="item dots">Sauteed Vegtables <em class="text-muted"> carrots, mushrooms, broccoli, roasted peppers, black olives</em></p>
            </div>
            <div class="col-xs-2">
                <p class="item">13.99 per foot</p> <!-- Italian -->
                <p class="item">$15.75 per foot</p> <!-- Turkey or Roast Beef -->
                <p class="item">$15.99 per foot</p> <!-- Grilled or Breaded Chicken -->
                <p class="item">$15.99 per foot</p> <!-- Sauteed Vegtables -->
            </div>
            
         </div>
    </div>
</body>

