/* Index Page */
body {
    font-family: 'Bevan', cursive;
    padding-top: 70px;
}

.title, .sub-title {
	font-family: 'Bevan', cursive;
	color: #fff;
}
.title {
    font-size: 2.5em;
}

.sub-title {
    font-size: 1.5em;
}

/*.brand-img {
    width: 50px;
}*/
/*--- Dot Leaders ----*/

.article {
    width: 100%;
}

.dots {
  display: flex;
  /*align-items: baseline;*/
}

.dots > * {
  padding: 0;
  margin: 0;
}

.dots::after {
  white-space: nowrap;
  flex: 1;   
  overflow: hidden;
  direction: rtl;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
  /*content: "• • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •";*/
}

/*-------Dot Leaders End-------*/

.vinnies-brand {
    font-size: 5pt;
    padding: 0 0 0 6px;
}

.brand-text {
    font-size: 5pt;
    color: #fff;
    line-height: 10px;
}

.frnt-pg-grp-img {
    margin-bottom: 10px;
}
/**------------**/
/*All the container divs*/
.container {
    background-color: #EEEAC7;
}

/*item div used for the div sizing*/
.item {
    padding-left: 5px;
}

/*Kitchen and Cluck U PAge*/
.thermometer {
    width: 200px;
}

.cluck-u-mascot {
    width: 200px;
}
/*------------*/

.add-to-salad {
    height: 150px;
}

.para-title{
    font-size: 3em;
}

.parallax {
    /* The image used */
    background-image: url("../img/pizza.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paragraph {
	font-size: 20pt;   
    margin-bottom: 20px;
}

.indent {
    text-indent: 25px;
}

.title-div {
	position: relative;
	top: 20px;
}

#vinnie-tomato {
	width: 300px;
}

/*--Footer Nav --*/
.navbar-inverse {
    color: #fff;
}
/*-- Footer Nav --*/